{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript"
  ],
  "globals": {
    "React": "readonly"
  },
  "ignorePatterns": [
    "dist"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "extraFileExtensions": [
      ".json"
    ],
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "react-refresh"
  ],
  "overrides": [
    {
      "files": [
        "vite.config*.ts"
      ],
      "parserOptions": {
        "project": "tsconfig.node.json"
      },
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/dot-notation": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "_"
      }
    ],
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/type-annotation-spacing": [
      "error",
      {
        "after": true,
        "before": false,
        "overrides": {
          "arrow": {
            "after": true,
            "before": true
          }
        }
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.{ts,tsx}"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "lines-between-class-members": "off",
    "max-len": [
      "error",
      180
    ],
    "object-curly-newline": [
      "error",
      {
        "consistent": true,
        "minProperties": 13,
        "multiline": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "quote-props": [
      "error",
      "consistent"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "radix": "off",
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ],
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "children": true,
        "when": "never"
      }
    ],
    "react/jsx-key": [
      "error",
      {
        "checkFragmentShorthand": true,
        "checkKeyMustBeforeSpread": true,
        "warnOnDuplicates": true
      }
    ],
    "react/no-unstable-nested-components": [
      "error",
      {
        "allowAsProps": true
      }
    ],
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "semi": [
      "error",
      "never"
    ]
  }
}
